body {
    background-color: #0076FF;
}

#mainIcon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30vh;
    height: 120px;
}

#slogan {
    font-family: "Comfortaa";
    font-weight: 700;
    color: white;
    text-align: center;
    margin-top: 30px;
}

#footnote {
    font-family: "Comfortaa";
    font-weight: 400;
    color: white;
    text-align: center;
    margin-top: 45px;
    font-size: 25px;
}

#moreInfo {
    font-family: "Comfortaa";
    font-weight: 300;
    color: white;
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
}

#footer {
    position: absolute;
    width: 100%;
    bottom: 0;
}

#copyright {
    font-family: "Comfortaa";
    font-weight: 300;
    color: white;
    text-align: center;
    font-size: 15px;
}

#sweetDevLink {
    color: black;
    background-color: white;
    font-size: 15px;
    font-family: "Comfortaa";
    font-weight: 700;
    border: 2px solid;
    border-radius: 25px;
    border-color: white;
    height: 30px;
    width: 200px;
    margin-bottom: 15px;
    
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#sweetDevLink:hover {
    border-color: black;
}

@media screen and (max-width:600px) {
    
    #mainIcon {
        height: 90px;
    }
    
    #slogan {
        font-size: 25px;
    }
    
    #footnote {
        font-size: 20px;
    }
    
}